@{
    ViewData["Title"] = "Home Page";
}
@model List<Review>
<main>
    <section id="section1" class="py10 bgimg">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" ">
                    <p class=" text-white fw-bold text-center fs-1">Startup Focused Tailwind CSS Template</p>
                    <p class="text-white text-center fs-5 fw-semibold">
                        A Complete Tailwind CSS Web Template Crafted for -
                        Startup,
                        SaaS, Business, Software and Agencies. Comes with high-quality design and everything you need!
                    </p>
                    <div class="d-flex gap-3 justify-content-center mt-4">
                        <a class="btn btn-primary fw-bold">Get Started</a>
                        <a class="btn btn-dark fw-bold">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

    <section class="py10 bgdark1" id="section2">
        <div class="container">
            <p class="text-white fs-1 fw-bolder text-center">Main Features</p>
            <p class="text-white-50 text-center">
                There are many variations of passages of Lorem Ipsum available but the
                majority have suffered alteration in some form.
            </p>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 ">
                    <i class="bi text-primary bi-gear fs-1"></i>
                    <p class="text-white fs-3 fw-bold">Crafted for Startups</p>
                    <p class="text-white-50 fs-5">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus
                        quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <i class="bi text-primary bi-gear fs-1"></i>
                    <p class="text-white fs-3 fw-bold">Crafted for Startups</p>
                    <p class="text-white-50 fs-5">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus
                        quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <i class="bi text-primary bi-gear fs-1"></i>
                    <p class="text-white fs-3 fw-bold">Crafted for Startups</p>
                    <p class="text-white-50 fs-5">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus
                        quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <i class="bi text-primary bi-gear fs-1"></i>
                    <p class="text-white fs-3 fw-bold">Crafted for Startups</p>
                    <p class="text-white-50 fs-5">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus
                        quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="section3" class="py10 bgdark2">
        <div class="container">
            <p class="text-white fs-1 fw-bolder  text-center">We are ready to help</p>
            <p class="text-white-50 text-center">
                There are many variations of passages of Lorem Ipsum available but the
                majority have suffered alteration in some form
            </p>

            <div class="d-flex justify-content-center mt10">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="row mt10 bgdark1">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="~/assets/img/tailgrids.svg" class="w-100" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="~/assets/img/tailgrids.svg" class="w-100" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="~/assets/img/tailgrids.svg " class="w-100" alt="">
                </div>
            </div>


            <div class="mt10 row">
                <div class="col-lg-6">
                    <p class="text-white fs-1 fw-bolder  ">Crafted for Startup, SaaS and Business Sites.</p>
                    <p class="text-white-50 ">
                        The main ‘thrust’ is to focus on educating attendees on how to best
                        protect highly vulnerable business applications with interactive panel discussions and roundtables.
                    </p>

                    <div class="row">
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                        <div class="col-6 mt-3">
                            <i class="bi bi-check text-primary fs-2"><span class="text-white-50">Premium quality</span></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="~/assets/img/about-image.svg" class="w-100" alt="">
                </div>

                <hr class="my-5">


                <div class="row ">
                    <div class="col-lg-6">
                        <img src="~/assets/img/about-image-2.svg" class="w-100" alt="">
                    </div>

                    <div class="col-lg-6">
                        <div class="mt-3">
                            <p class="fw-bold text-white fs-3">Bug free code</p>
                            <p class="text-white-50 fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="mt-3">
                            <p class="fw-bold text-white fs-3">Premier support</p>
                            <p class=" text-white-50 fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="mt-3">
                            <p class="fw-bold text-white fs-3">Regular updates</p>
                            <p class=" text-white-50 fs-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="section4" class="py10 bgdark1">
        <div class="container">
            <p class="text-white fs-1 fw-bolder  text-center">We are ready to help</p>
            <p class="text-white-50 text-center">
                There are many variations of passages of Lorem Ipsum available but the
                majority have suffered alteration in some form
            </p>
            <div class="row mt-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 mt-5">
                        <div class="bgdark rounded-4 h-100">
                            <div class="p-5">
                                <p class="text-warning">@item.Starts <i class="bi bi-star-fill "></i> </p>
                                <p class="text-white fs-5">
                                    “@item.Comment
                                </p>
                                <hr>
                                <div class="d-flex gap-4">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="~/assets/img/@item.Img" style="height:10vh;width:10vh" class="rounded-circle"  alt="">
                                    </div>
                                    <div>
                                        <p class="fw-bold text-white fs-4">@item.Name</p>
                                        <p class="text-white-50">@item.Position</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>

    <section class="py10 bgdark2" id="section5">
        <div class="container">
            <p class="text-white fs-1 fw-bolder  text-center">Simple and Affordable Pricing</p>
            <p class="text-white-50 text-center">
                There are many variations of passages of Lorem Ipsum available but the
                majority have suffered alteration in some form.
            </p>

            <div>
                <div class="form-check form-switch d-flex justify-content-center mt-5">
                    <label class="form-check-label text-white  " for="flexSwitchCheckDefault">Monthly</label>
                    <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label text-white " for="flexSwitchCheckDefault">
                        Yearly
                    </label>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="bgdark rounded-3 h-100">
                            <div class="p-5">
                                <div class="d-flex justify-content-between">
                                    <p class="text-white fs-3 fw-bold">$40 <span class="text-white-50 ">/mo</span> </p>
                                    <p class="text-white fs-3 fw-bold">Lite</p>
                                </div>
                                <p class="text-white-50">Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                                <button class="btn btn-primary w-100">Start Free Trial</button>
                                <hr>
                                <div>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bgdark rounded-3 h-100">
                            <div class="p-5">
                                <div class="d-flex justify-content-between">
                                    <p class="text-white fs-3 fw-bold">$40 <span class="text-white-50 ">/mo</span> </p>
                                    <p class="text-white fs-3 fw-bold">Lite</p>
                                </div>
                                <p class="text-white-50">Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                                <button class="btn btn-primary w-100">Start Free Trial</button>
                                <hr>
                                <div>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bgdark rounded-3 h-100">
                            <div class="p-5">
                                <div class="d-flex justify-content-between">
                                    <p class="text-white fs-3 fw-bold">$40 <span class="text-white-50 ">/mo</span> </p>
                                    <p class="text-white fs-3 fw-bold">Lite</p>
                                </div>
                                <p class="text-white-50">Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                                <button class="btn btn-primary w-100">Start Free Trial</button>
                                <hr>
                                <div>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>
                                    <p>
                                        <i class="bi bi-check text-primary fs-5">
                                            <span class="text-white-50">
                                                All UI
                                                Components
                                            </span>
                                        </i>/p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py10 bgdark2" id="section6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bgdark h-100 rounded-3">
                        <div class="p-5">
                            <p class="text-white fw-bold fs-2">Need Help? Open a Ticket</p>
                            <p class="fw-semibold text-white-50">Our support team will get back to you ASAP via email.</p>

                            <div class="row">
                                <div class="col-6">
                                    <p class="text-white">Your Name</p>
                                    <input type="text" placeholder="Enter your name"
                                           class="form-control inputareacolor border-0 text-white-50">
                                </div>
                                <div class="col-6">
                                    <p class="text-white">Your Email</p>
                                    <input type="text" placeholder="Enter your email"
                                           class="form-control inputareacolor border-0 text-white-50">
                                </div>

                            </div>
                            <p class="text-white my-2">Your Message</p>
                            <textarea name="" id=""
                                      class="form-control inputareacolor text-white-50 w-100 my-2 border-0">Enter Your Message</textarea>
                            <button class="btn w-25 my-2 btn-primary">Submit Ticket</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bgbluish rounded-3">
                        <div class="p-5">
                            <p class="fs-5 text-white fw-bold">Subscribe to receive future updates</p>
                            <p class="text-white-50">
                                Lorem ipsum dolor sited Sed ullam corper consectur adipiscing Mae ornare massa
                                quis lectus.
                            </p>
                            <hr class="my-5">
                            <input type="text" placeholder="Enter your Name" class="form-control inputareacolor border-0 my-2 w-100">
                            <input type="text" placeholder="Enter your email" class="form-control inputareacolor border-0  my-2 w-100">
                            <button class="btn btn-primary w-100 my-2">Subscribe</button>
                            <p class="text-center text-white-50">No spam guaranteed, So please don’t send any spam mail.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>